{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": ["prettier-plugin-solidity"],
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 200,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse"
      }
    }
  ]
}
